# Gemini API Configuration

# Require
GEMINI_API_KEY=

# Optional
GEMINI_MODEL=
GEMINI_BASE_URL=

# Speech-to-Text API Configuration

# Optional (has default value)
SPEECH_TO_TEXT_API_KEY=
SPEECH_TO_TEXT_BASE_URL=

# API
# Optional (has default value)
API_VERSION=
PORT=
API_BASE_URL=
MOCK_RESPONSE=