# Gemini API Configuration

# Require
GEMINI_API_KEY=
SPEECH_TO_TEXT_API_KEY=
OCR_API_KEY=


# Optional (has default value)
GEMINI_MODEL=
GEMINI_BASE_URL=


# Optional (has default value)
SPEECH_TO_TEXT_BASE_URL=


# Optional (has default value)
OCR_BASE_URL=


# Optional (has default value)
API_VERSION=
MOCK_RESPONSE=
PORT=
API_BASE_URL=